.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

#!.yarn/cache
.pnp.*

# Local app logs
/logging/logs

# Js files
/**/*.mjs
.vercel

# Environment variables
.env
.env.dev

# Node module
node_modules

# Pnpm
pnpm-lock.yaml

# Typescript build info
tsconfig.tsbuildinfo